input {
  appearance: none;
}

* {
  touch-action: manipulation;
}

body {
  margin: 0px;
  color: rgb(235, 235, 235);
  background-color: rgb(28, 28, 28);
}

hr {
  filter: opacity(50%) brightness(40%);
  border: 2px solid #14c600;
}

.noShow {
  filter: opacity(0%);
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

.noMake {
  display: none;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  cursor: pointer;
  box-shadow: 0 0 .1em color-mix(in oklab, var(--color-white) 50%, transparent);
  background-color: color-mix(in oklab, var(--color-black) 50%, transparent);
  flex-shrink: 0;

  &:checked {
    background-color: color-mix(in oklab, var(--color-chaos) 100%, transparent);
    border: 0.3em solid var(--color-black);
    outline: 0.1em solid var(--color-chaos);
    box-shadow: none;
  }
}

input[type=radio] {
  border-radius: 50%;
}

button, input[type=number], input[type=text], select, textarea {
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
  text-align: center;
  padding: calc(var(--spacing) * 2);
  border-radius: var(--radius-lg);
  background-color: color-mix(in oklab, var(--color-black) 50%, transparent);
  box-shadow: 0 0 .2em color-mix(in oklab, var(--color-white) 50%, transparent);
  margin: calc(var(--spacing) * 4);

  &:focus {
    outline: 0.1em solid var(--color-chaos);
  }

  &[type=submit] {
    background-color: var(--color-chaos);
    color: var(--color-black);
    width: auto;
  }

  &:disabled {
    background-color: color-mix(in oklab, var(--color-summit-grey) 50%, transparent);
    opacity: 0.5;
  }
}

textarea {
  margin:0;
}

.counter {
  button {
    height: calc(var(--spacing) * 24);
    width: calc(var(--spacing) * 24);
  }
}

.auto, .teleop, .endgame {
  input[type=text]{
    width: calc(var(--spacing) * 24);
  }
}

.auto {
  input[type=radio]:checked, input[type=checkbox]:checked {
    background-color: color-mix(in oklab, var(--color-chaos) 100%, transparent);
    border: 0.3em solid rgb(0, 0, 0) !important;
    outline: 0.1em solid var(--color-chaos);
  }

  .counter button:active {
    background-color: color-mix(in oklab, var(--color-chaos) 100%, transparent);
  }
}

.teleop {
  input[type=radio]:checked, input[type=checkbox]:checked {
    background-color: color-mix(in oklab, var(--color-blue-700) 100%, transparent);
    border: 0.3em solid rgb(0, 0, 0) !important;
    outline: 0.1em solid var(--color-blue-700);
  }

  input[type=number], .counter button {
    &:focus {
      outline: 0.1em solid var(--color-blue-700);
    }
  }

  .counter button:active {
    background-color: color-mix(in oklab, var(--color-blue-700) 100%, transparent);
    outline: 0.1em solid var(--color-blue-700);
  }
}

.endgame {
  input[type=radio]:checked, input[type=checkbox]:checked {
    background-color: color-mix(in oklab, var(--color-red-700) 100%, transparent);
    border: 0.3em solid rgb(0, 0, 0) !important;
    outline: 0.1em solid var(--color-red-700);
  }

  input[type=number], .counter button {
    &:focus {
      outline: 0.1em solid var(--color-red-700);
    }
  }

  .counter button:active {
    background-color: color-mix(in oklab, var(--color-red-700) 100%, transparent);
    outline: 0.1em solid var(--color-red-700);
  }
}

.modal {
  .confirm-btn {
    background-color: var(--color-chaos);
    color: var(--color-black);
  }

  .cancel-btn {
    background-color: var(--color-summit-grey);
    color: var(--color-black);

    &:focus {
      outline: 0.1em solid var(--color-summit-grey-800);
    }
  }
}
